use_nix

export PATH=./node_modules/.bin:$PATH

export PGHOST="localhost"
export PGUSER="postgres"
export PGPASSWORD="dev"
export PGPORT=5432
export PGDATABASE="nestjs_app"

export DATABASE_URL="postgres://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE?sslmode=disable"
export DBMATE_MIGRATIONS_DIR="./schema"
export DBMATE_NO_DUMP_SCHEMA=1

export NODE_ENV="development"
